*{
    box-sizing: border-box;
}
body{
    font-family: 'Quicksand', sans-serif;
}
#encabezado-imagen{
    width: 100%;
    height: 100%;
}
.centrado{
    position: absolute;
    top: 61%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    text-align: center;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}