*{
    box-sizing: border-box;
}
html{
    font-family: 'Quicksand', sans-serif;
    font-size: 100px;
}
body{
    margin: 0%;
}
h1{
    font-size: 0.8rem;
}
h2{
    font-size: 0.5rem;
}
p{
    font-size: 0.3rem;
}
.txt{
    font-size: 0.4rem;
}
#encabezado-imagen{
    width: 100%;
    height: 100%;
}
.centrado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 70%;
}
.section-1-3{
    display: flex;
}
.img-section{
    width: 90%;
    padding-left: 10%;
}
.sec-izq{
    width: 50%;
    padding-left: 5%;
}
.sec-der{
    width: 50%;
    padding-left: 5%;
}
.section-2{
    background-color: rgb(0, 255, 170);
    text-align: center;
    width: 100%;
    justify-content: center;
    padding: 0%;
}
.section-2-imgs{
    display: flex;
}
.section-2-imgs-1{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.section-2-imgs-2{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.s-2-imgs{
    width: 200px;
    padding-left: 0%;
}
.text-img{
    padding: 10%;
}
.section-4-img{
    display: flex;
    width: 379px;
}
.section-4{
    display: flex;
}
.section-4-imgs-1{
    display: flex;
    width: 100%;
    padding-bottom: 0%;
    justify-content: center;
    align-items: center;
}
.section-4-imgs-2{
    display: flex;
    width: 100%;
    padding-bottom: 0%;
    justify-content: center;
    align-items: center;
}
.s-4-imgs{
    width: 100%;
    margin-bottom: -0.3rem;
}
.section-5{
    background-color: rgb(0, 162, 255);
    display: flex;
    text-align: center;
}
.section-6{
    background-color: black;
    color: white;
    display: flex;
    padding: 5%;
}
.section-6-p1{
    display: flex;
    width: 60%;
}
.section-6-p2{
    display: flex;
    width: 40%;
}
.section-6-2{
    padding-right: 30%;
}
.txt-6{
    font-size: 0.2rem;
}
@media screen and (max-width:700px){
    html{
        font-size: 65px;
    }
    #encabezado-imagen{
        width: 100%;
        height: 100%;
    }
    .centrado{
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        align-items: center;
        font-family: 'Quicksand', sans-serif;
        font-weight: bold;
    }
    .sec-izq{
        width: 100%;
    }
    .sec-der{
        width: 100%;
    }
    .section-1-3{
        display: block;
    }
    .section-2-imgs{
        display: block;
    }
    .text-img{
        padding: 5%;
    }
    .section-2-imgs-1{
        width: 100%;
        justify-content: center;
        align-items: center;
        padding-left: 5%;
    }
    .section-2-imgs-2{
        width: 100%;
        justify-content: center;
        align-items: center;
        padding-left: 5%;
        max-width: 100%;
    }
    .s-2-imgs{
        width: 230px;
        padding-left: 0%;
    }
    .section-4{
        display: block;
    }
    .section-4-imgs-1{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .section-4-imgs-2{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .s-4-imgs{
        width: 100%;
        margin-bottom: -0.5rem;
    }
    .section-5{
        padding-right: 5%;
        padding-left: 5%;
    }
    .section-6{
        background-color: black;
        color: white;
        display: block;
        padding: 5%;
    }
    .section-6-1{
        width: 100%;
    }
    .section-6-2{
        width: 100%;
    }
    .section-6-3{
        width: 100%;
    }
    .section-6-p1{
        display: flex;
        width: 50%;
    }
    .section-6-p2{
        display: flex;
        width: 100%;
    }
    .txt-6{
        font-size: 0.4rem;
    }
}